<form action="/<%= type == :in ? 'session' : 'users'%>" method="post">
  <%= render 'partials/csrf_auth' %>
  <label for="new-email">e-mail: </label>
  <input id="new-email" name="<%= type == :in ? 'session' : 'user'%>[email]" type="text" />
  <label for="new-password">Password: </label>
  <input id="new-password" name="<%= type == :in ? 'session' : 'user'%>[password]" type="password" />
  <button type="submit">Sign <%= type == :in ? 'In' : 'Up'%>!</button>
</form>